@model IdentityTesting.App.Controllers.RegisterModel2




<h2>You have registered.</h2>

<p>We have sent you an email to confirm the address.</p>

<a href="@Model.ReturnUrl">Continue what you were trying to do</a>

